@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes openShutter {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 300px;
    opacity: 1;
  }
}

@keyframes closeShutter {
  from {
    height: 300px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.open-menu {
  animation: openShutter 0.5s ease-in-out forwards;
}

.close-menu {
  animation: closeShutter 0.5s ease-in-out forwards;
}
